<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTALITAIRE</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" type="imagex/png" href="./images/logocleanbg.ico">
</head>
<body>
    
    <header class="header">
        <div class="container">
            <div class="flex">
                <a href="/" class="logo"></a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/guia" class="linha">Guia</a></li>
                        <li><a href="/novidades" class="linha">Novidades</a></li>
                        <li><a href="/time" class="linha">Time</a></li>
                        <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="img-section">
        <div class="flex-video">
            <video src="/Videos/1ST TEASER.mp4" autoplay controls muted loop></video>
            <a href="https://gamejolt.com/games/totalitairegame/858834" class="btn-baixe"><span class="texto-bot">BAIXE DE GRAÇA</span></a>
        </div>
    </section>
    <hr class="line">
    <section class="sec-1" id="sec-1">
        <div class="container-2">
            <div class="promocional"></div>
            <p>Adentre um universo intrigante na companhia de Bellatrix, uma peça essencial na terceira iteração do Plano Gênesis. À medida que os véus que encobrem as intenções da Sheol Corp e seu líder, Mephistopheles, são puxados, um cataclismo interno aguarda Bellatrix.</p>
        </div>
        <div class="container-3">
            <h1 class="titulo-sec">SCREENSHOTS</h1>
            <div class="screenshots"></div>
        </div>
        <div class="container-4">
            <h1 class="titulo-sec">ANIMATED SHOTS</h1>
            <div class="flex-animated">
                <div class="animated"></div>
                <div class="animated"></div>
                <div class="animated"></div>
            </div>
        </div>
        <div class="container-5">
            <h1 class="titulo-sec">SOUNDTRACKS</h1>
            <div class="flex-animated">
                <div class="animated"></div>
                <div class="animated"></div>
                <div class="animated"></div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-6">
                <div class="icons">
                    <a href="https://www.instagram.com/catboxarts/" target="_blank"><i class='bx bxl-instagram-alt' style='color:#f7b58c'></i></a>
                    <a href="#" target="_blank"><i class='bx bxs-envelope'></i></a>
                    <a href="https://gamejolt.com/games/totalitairegame/858834" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0,0,255.98959,255.98959">
                        <g fill="#f7b58c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M8,4v2h-1v2h-1v2h-1v2h-1v2h6v2h-1v1v1h-1v2h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h-3v-1h1v-1h1v-1h1v-1h1v-1zM8,20h-1v1h1zM9,6h7v1h-1v1h-1v1h-1v1h-1v1h1v1h1v-1h1v1h-1v1h-1v-1h-1v-1h-1v1h-1v-1h-1v1h-1v-1h-1v-1h1v-2h1zM8,10v1h1v-1zM10,11h1v-1h-1z"></path></g></g>
                        </svg></a>
                    <a href="#"></a>
                </div>
                <div class="titulo-footer">
                    <a href="/" class="logo_2"></a>
                    <hr class="line-2">
                </div>
                <div class="navbar-footer">
                    <p class="text-footer">©2023 CATBOX, ALL RIGHTS RESERVED</p>
                    <nav>
                        <ul class="nav-list">
                            <li><a href="/guia" class="linha">Guia</a></li>
                            <li><a href="/novidades" class="linha">Novidades</a></li>
                            <li><a href="/time" class="linha">Time</a></li>
                            <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </section>
    

    <script src="/javascripts/menu.js"></script>
</body>
</html>