<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTALITAIRE</title>
    <link rel="stylesheet" href="/stylesheets/novidades.css">
    <link rel="shortcut icon" type="imagex/png" href="./images/logocleanbg.ico">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="flex">
                <a href="/" class="logo"></a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/guia" class="linha">Guia</a></li>
                        <li><a href="/novidades" class="linha">Novidades</a></li>
                        <li><a href="/time" class="linha">Time</a></li>
                        <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="novidades_patch">
        <div class="container-3">
            <div class="conteudo-novidades">
                <h1 class="titulo-sec">ÚLTIMAS NOVIDADES</h1>
                <div class="screenshots"></div>
            </div>
        </div>
        <div class="container-4">
            <h1>ATUALIZAÇÕES DE PATCH</h1>
            <div class="small-conteudo">

                <div class="patchs">
                    <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                </div>
                <div class="small-conteudo">
                
                    <div class="patchs">
                        <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                    <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                    </div>
                
            </div>
            <footer class="footer">
                <div class="container-6">
                    <div class="icons">
                        <a href="https://www.instagram.com/catboxarts/" target="_blank"><i class='bx bxl-instagram-alt' style='color:#f7b58c'></i></a>
                        <a href="#" target="_blank"><i class='bx bxs-envelope'></i></a>
                        <a href="https://gamejolt.com/games/totalitairegame/858834" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0,0,255.98959,255.98959">
                            <g fill="#f7b58c" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M8,4v2h-1v2h-1v2h-1v2h-1v2h6v2h-1v1v1h-1v2h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h-3v-1h1v-1h1v-1h1v-1h1v-1zM8,20h-1v1h1zM9,6h7v1h-1v1h-1v1h-1v1h-1v1h1v1h1v-1h1v1h-1v1h-1v-1h-1v-1h-1v1h-1v-1h-1v1h-1v-1h-1v-1h1v-2h1zM8,10v1h1v-1zM10,11h1v-1h-1z"></path></g></g>
                            </svg></a>
                        <a href="#"></a>
                    </div>
                    <div class="titulo-footer">
                        <a href="/" class="logo_2"></a>
                        <hr class="line-2">
                    </div>
                    <div class="navbar-footer">
                        <p class="text-footer">©2023 CATBOX, ALL RIGHTS RESERVED</p>
                        <nav>
                            <ul class="nav-list">
                                <li><a href="/guia" class="linha">Guia</a></li>
                                <li><a href="/novidades" class="linha">Novidades</a></li>
                                <li><a href="/time" class="linha">Time</a></li>
                                <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
    </section>
    <script src="/javascripts/novidades_page.js"></script>
</body>