<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTALITAIRE</title>
    <link rel="stylesheet" href="/stylesheets/novidades.css">
    <link rel="shortcut icon" type="imagex/png" href="./images/logocleanbg.ico">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="flex">
                <a href="/" class="logo"></a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/guia" class="linha">Guia</a></li>
                        <li><a href="/novidades" class="linha">Novidades</a></li>
                        <li><a href="/time" class="linha">Time</a></li>
                        <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="novidades_patch">
        <div class="container-3">
            <div class="conteudo-novidades">
                <h1 class="titulo-sec">ÚLTIMAS NOVIDADES</h1>
                <div class="screenshots"></div>
            </div>
        </div>
        <div class="container-4">
            <h1>ATUALIZAÇÕES DE PATCH</h1>
            <div class="small-conteudo">

                <div class="patchs">
                    <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                </div>
                <div class="small-conteudo">
                
                    <div class="patchs">
                        <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                    <div class="conteudo"></div>
                    <div class="titulo-conteudo">
                        <h4>NOTAS DE PATCH TOTALITAIRE</h4>
                        <div class="data">
                            <p>23 de Dezembro, 2023</p>
                            <span>NOTAS DO PATCH</span>
                        </div>
                    </div>
                    </div>
                
            </div>
            <footer class="footer">
                <div class="container-6">
                    <div class="icons">
                        <a href="#">a</a>
                        <a href="#">a</a>
                        <a href="#">a</a>
                        <a href="#"></a>
                    </div>
                    <div class="titulo-footer">
                        <a href="/" class="logo_2"></a>
                        <hr class="line-2">
                    </div>
                    <div class="navbar-footer">
                        <p class="text-footer">©2023 CATBOX, ALL RIGHTS RESERVED</p>
                        <nav>
                            <ul class="nav-list">
                                <li><a href="/guia" class="linha">Guia</a></li>
                                <li><a href="/novidades" class="linha">Novidades</a></li>
                                <li><a href="/time" class="linha">Time</a></li>
                                <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
    </section>
    <script src="/javascripts/novidades_page.js"></script>
</body>