<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTALITAIRE</title>
    <link rel="stylesheet" href="/stylesheets/time.css">
    <link rel="shortcut icon" type="imagex/png" href="./images/logocleanbg.ico">
</head>
<body>
    <header>
        <div class="container">
            <div class="flex">
                <a href="/" class="logo"></a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/guia">Guia</a></li>
                        <li><a href="/novidades">Novidades</a></li>
                        <li><a href="/time">Time</a></li>
                        <li><a href="/buymeacoffe" class="buyme">Buy me a Coffe</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>